.card-monitoria{
  	width: 100%;
}
.texto-justificado{
	text-align: justify;
}
.col-width-margin{

	margin-left: 8px;
	margin-right: 8px;
}
.footer-bg-color{
	background-color: #f44336;
}
.pic-resize-footer{
	width: 50ox;
	height: 64px;
}

